
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=99c821cc99606c0aee09a8e24b39f5f0
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
